@{
    <link href="~/style/StyleSheet.css" rel="stylesheet" />
    <form method="post">
        <label for="PriceMax">Maximum Price:</label>
        <input name="PriceMax" type="number" min="0" step="1" required />
        <label for="PointMin">Minimum Score:</label>
        <input name="PointMin" type="number" max="100" min="0" step="1" required />
        <input type="submit" />
    </form>

}
